<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <!-- Import CXF built-in ressources -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <!-- Configure JSON provider for REST services -->
    <bean class="org.apache.cxf.jaxrs.provider.ProviderFactory"
          factory-method="getSharedInstance">
        <property name="userProviders">
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" p:mapper-ref="jacksonMapper"/>
        </property>
    </bean>

    <bean id="jacksonMapper" class="org.codehaus.jackson.map.ObjectMapper">
        <property name="serializationConfig.dateFormat">
            <bean class="java.text.SimpleDateFormat">
                <constructor-arg value="yyyy-MM-dd'T'HH:mm:ss.SZ"/>
            </bean>
        </property>
    </bean>

    <!-- Service REST exposition -->
    <jaxrs:server id="customerServiceREST" address="/customers">
        <jaxrs:serviceBeans>
            <ref bean="customerService"/>
        </jaxrs:serviceBeans>
    </jaxrs:server>

</beans>
